@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<div>
    <partial name="EmployeePartialView\DetailsDeletePartialView"></partial>

    <div class="mt-3">
        <a class="btn btn-info" asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="GetAll" asp-controller="Employee" class="btn btn-secondary">Back To List</a>
    </div>
</div>


