@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>
<br />
<br />
<div>
    <partial name="DepartmentPartialView\DeleteDetailsPartialView"></partial>
    <div class="mt-3">
        <a asp-action="GetAll" asp-controller="Department" class="btn btn-secondary">Back To List</a>
    </div>
</div>
