@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>
<br />
<br />
<div>
    <div class="mt-3">
        <label asp-for="Code" class="col-form-label"></label>
        <input asp-for="Code" class="form-control" readonly/>
       
    </div>
    <div class="mt-3">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" readonly/>

    </div>
    <div class="mt-3">
        <label asp-for="CreateAt" class="col-form-label"></label>
        <input asp-for="CreateAt" class="form-control" readonly />

    </div>
    <div class="mt-3">
        <a asp-action="GetAll" asp-controller="Department" class="btn btn-secondary">Back To List</a>
    </div>
</div>
