@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Page</h1>
<br />
<br />
<form asp-action="Edit">
    <div class="mt-3">
        <label asp-for="Code" class="col-form-label"></label>
        <input asp-for="Code" class="form-control" />
    </div>
    <div class="mt-3">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mt-3">
        <label asp-for="CreatenIn" class="col-form-label"></label>
        <input asp-for="CreatenIn" class="form-control" />
    </div>
    <div class="mt-3">
        <input type="submit" value="Save" class="btn btn-warning" />
        <a asp-action="GetAll" asp-controller="Department" class="btn btn-secondary">Back To List</a>
    </div>
</form>
